h1 {
	
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
	background: #1AA18A;
}
h1{
	font-size: 6em;
}
p.reg_glam
{
	position:center;
	
}